* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 26, 26);
  font-family: sans-serif;
  position: relative;
  top: 20%;
}

.container {
  color: aliceblue;
  display: grid;
  align-items: center;
}

h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.game-button {
  width: 150px;
  height: 150px;
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
}
#green {
  background-color: green;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}

#start {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(141, 141, 141);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  position: relative;
  left: 37%;
  font-style: oblique;
  text-transform: uppercase;
}

#start:hover {
  background-color: aliceblue;
  transition: 0.5s;
  cursor: pointer;
}

#score {
  color: aliceblue;
  font-size: 2rem;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
