body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;

}

.gridBoxes {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    grid-template-rows: repeat(2, 110px);
    width: max-content;
    margin-left: 10%;
}

.gridBoxes p {
    color: white;
    text-align: center;
    padding-top: 25%
}

.gridBoxesDark p {
    color: black;
    text-align: center;
    padding-top: 25%
}

.box {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.boxRed {
    background-color: red;
    opacity: 30%;
}

.boxBlue {
    background-color:blue  ;
    opacity: 30%;
}

.boxGreen {
    background-color: green;
    opacity: 30%;
}

.boxYellow {
    background-color: yellow;
    opacity: 30%;
}

.box.lighted {
    opacity: 1;
}

#btnPlay {
    background-color: purple;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 25% auto;
    cursor: pointer;;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}
